.text {
  line-height: 44px;
  font-size: 22px;
  text-align: justify;
  font-weight: 450;
  font-family: "Segoe UI";
  text-wrap: none;
  outline: none;
}

.content.object {
  margin: 0 .25rem;
  font-weight: 550;
}
